<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ge.altasoft.gia.cha">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.wifi" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ChaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".light.LightSettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".thermostat.ThermostatSettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".thermostat.BoilerChartActivity" />
        <activity android:name=".LogTHActivity" />
        <activity android:name=".Log5in1Activity" />
        <activity android:name=".LogStateActivity" />
        <activity android:name=".WhoIsOnlineActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name=".MqttServiceLocal"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>